#! /usr/bin/env bash

# Source common environment
# =================================================================

ENV_PATH=${HOME}/.env

# shellcheck source=/dev/null
source "${ENV_PATH}/bashrc.common"

# User environment
# =================================================================

export MYMAIL=''
PS1="\t \[${SF_GREEN}\]\[${SF_BOLD}\]\u@\h \[${SF_BLUE}\]\w \[${SF_GREEN}\]\$ \[${SF_NORM}\]"


log-result "Source file .bashrc_user"
